<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zclass">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/icon_pzzl"
        android:label="@string/app_name"
        android:roundIcon="@drawable/classid"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zclass">
        <activity
            android:name=".online.Class_OnlineActivity"
            android:exported="false" />
        <activity
            android:name=".offline.OptionActivity"
            android:exported="false" />
        <activity
            android:name=".offline.UpdateCourseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".online.MyInfoActivity" />
        <activity android:name=".online.fragment.MyChatroomDemo" />
    </application>

</manifest>